/* reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    color: rgba(204,200,255,0.5);
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;

    background-image: url("./6BM_zdjecia/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #25072e;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/*style fontów*/

.main-title, .subsection-title, .main-menu__item {
	font-weight: bold;
	text-transform: uppercase;
}

.subsection-title, .main-menu__item {
	letter-spacing: 4px;
}

.main-title {
	color: #EF008E;
	font-size: 28px;
	letter-spacing: 2px;
	margin-bottom: 5%;
}

.subsection-title {
	color: #ccc8ff;
	font-size: 15px;
}

.main-menu__item {
	color: #ef008e;
	font-size: 13px;
	margin: 8px 0px;
}

/*bordery zdjęć*/

.top-border {
	border-top: 5px solid #ef008e;
}

.bottom-border {
	border-bottom: 5px solid #ef008e;
}

/* pozycjonowanie elementów */

.page-header, .page-footer {
	position: fixed;
	left: 50px;
}

/* nagłówek */
.page-header {
	top: 50px;
}

/* stopka */
.page-footer {
	bottom: 50px;
}

.social-media-menu__item {
	margin: 4px 0px;
	width: 22px;
}

/* dane ogólne */ 

.page-content {
	text-align: right;
	margin-left: 220px;
    padding: 0 5%;
}

.content-section {
	min-height: 100vh;
	padding-top: 8%;
}

.additional-margin {
	margin-left: 15%;
}

.band-members-section, .band-members, .concerts-table, .concert-info, .photo-gallery, .contact, .contact-form {
	display: flex;
	flex-wrap: wrap;
}

.band-members__item, .band-info {
	display: inline-block;
}

.band-members-section, .contact {
	align-items: center;
}

.band-members {
	justify-content: center;
	width: 100%;
}

.band-members__name, .band-members__desc, .band-info, .concert-info, .contact, .contact-form {
	text-align: left;
}

.band-info {
	background-color: #25072e;
	padding: 50px 40px;
	position: relative;
	left: 8%;
	width: 400px;
}

.concert-info, .concerts-table, .photo-gallery {
	justify-content: space-between;
}

.concert {
	align-items: flex-start;
	margin-bottom: 40px;
	width: 48%;
}

.concert > img {
	margin-bottom: 10px;
	width: 100%;
}

.concert-section {
	padding-left: 40%;
}

.concert-place {
	padding: 0;
	margin: 0;
}

.contact-address {
	margin-left: 50px;
}

.about-image {
	width: 60%;
}

.photo-gallery__item {
	width: 32%;
}

.photo-gallery__item > img {
	width: 100%;
}

.contact-photo {
	width: 40%;
}

.contact-form {
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
}

.form-input, .button-sumbit, .buy-button{
	background-color: #25072e;
	border: none;
	border-radius: 5px;
	color: rgba(204,200,255,0.5);
	height: 34px;
	padding: 0px 10px;
	margin: 10px 0px;
}

.form-input {
	width: 300px;
}

.button-sumbit, .buy-button {
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 150px;
}

.buy-button {
	color: #ccc8ff;
	margin: 0px;
}