/* reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    color: rgba(204,200,255,0.5);
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;

    background-image: url("./6BM_zdjecia/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #25072e;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/*style fontów*/

.main-title, .subsection-title, .main-menu__item {
	font-weight: bold;
	text-transform: uppercase;
}

.subsection-title, .main-menu__item {
	letter-spacing: 4px;
}

.main-title {
	color: #EF008E;
	font-size: 28px;
	letter-spacing: 2px;
}

.subsection-title {
	color: #ccc8ff;
	font-size: 15px;
}

/* 
***********************
główne menu 
***********************
*/


.main-menu__item {
	margin: 8px 0px;
}

.main-menu__item > a {
	color: rgb(239, 0, 142);
	opacity: 0.8;
    letter-spacing: 6.7px;
    font-size: 13px;
	transition: all 0.1s ease-in;
}


/* 
style akcji menu 
*/

.main-menu__item > a:hover, .main-menu__item > a:focus {
	letter-spacing: 6.5px;
	opacity: 1;
	outline: none;
}

.main-menu__item > a:active {
	opacity: 0.6;
}

.main-menu__item > a:disabled {
	opacity: 0.4;
}


/*
*******************
bordery zdjęć
*******************
*/

.top-border {
	border-top: 5px solid #ef008e;
}

.bottom-border {
	border-bottom: 5px solid #ef008e;
}

/*
*******************
buttony 
*******************
*/

.button {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);

    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in;
}

/* stany buttonów */

.button:hover {
	background-color: rgba(204, 200, 255, 0.3);
}

.button:active {
	background-color: rgba(204, 200, 255, 0.2);
    color: rgba(204, 200, 255, 0.5);
}

.button:focus {
	background-color: rgba(204, 200, 255, 0.2);
	border: 1px solid #ccc8ff;
}

.button:disabled {
	background-color: rgba(204, 200, 255, 0.1);
	color: rgba(204, 200, 255, 0.3);
}

/* 
********************
nagłówek 
********************
*/

.page-header {
	position: fixed;
	left: 50px;
	top: 50px;
}

/*
*********************
 stopka 
 ********************
 */

.page-footer {
	position: fixed;
	left: 50px;
	bottom: 50px;
}

.social-media-menu__item {
	margin: 4px 0px;
	width: 22px;
	opacity: 0.8;
	transition: opacity 0.2s ease-in;
}

/*
stany ikon social media
*/

.social-media-menu__item:hover, .social-media-menu__item:focus {
	opacity: 1;
}
.social-media-menu__item:active {
	opacity: 0.6;
}

.social-media-menu__item:disabled {
	opacity: 0.4;
}

/*
**********************
 dane ogólne 
 **********************
 */ 

.page-content {
	margin-left: 220px;
    padding: 0 10%;
}

/* 
***********************
poszczególne sekcje 
***********************
*/

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 50px;
	min-height: 100vh;
}

.main-title {
	margin-bottom: 50px;
}

/*
************************
sekcja zespołu 
************************
*/

.band-members-section {
	align-items: center;
}

.band-members {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 13vh;
}

.band-members__img {
	opacity: 0.4;
	transition: opacity 0.2s ease-in;
}

.band-members__name, .band-members__desc {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.band-members__item:hover .band-members__img {
	opacity: 1;
}

.band-members__item:hover .band-members__name{
	opacity: 1;
}

.band-members__item:hover .band-members__desc{
	opacity: 1;
}

/*
********************
sekcja about
********************
 */

.info-section {
	position: relative;
	margin-left: 290px;
	margin-bottom: 115px;
}

.about-image {
	max-width: 100%;
}

.band-info {
	position: absolute;
	left: -290px;
	bottom: -115px;
	width: 380px;
	padding: 30px;
	background-color: #25072e;
}

/* 
*********************
sekcja concerts 
*********************
*/

.concerts-table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
}

.concert {
	flex-basis: 50%;
	padding: 0 0 45px 55px;
}

.buy-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
}

.concert-info {
	flex-grow: 1;
	padding-right: 15px;
}

.concert > img {
	max-width: 100%;
}

.concert-place {
	margin-top: 3px;
	margin-bottom: 0px;
}

/*
**********************
sekcja galeria
**********************
*/

.photo-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
}

.photo-gallery__item {
	flex-basis: 33.3%;
	padding: 0 0 20px 20px;
}

.gallery__image {
	max-width: 100%;
	border-top: 3px solid #EF008E;
	transition: all 0.1s ease-in;
}

/*
stan galerii
*/

.gallery__image:hover {
	transform: scale(1.07);
}

/*
*******************
sekcja contact
*******************
*/

.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.contact-photo {
	max-width: 100%;
}

.contact-address {
	padding: 3vh 3vw;
}

.contact-form .button {
    margin-top: 20px;
}

.contact-form {
	margin-top: 30px;
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;
}

.form-input {
	background-color: #25072e;
	border: none;
	border-radius: 5px;
	color: rgba(204,200,255,0.5);
	height: 34px;
	padding: 0px 10px;
	margin: 10px 0px;
}

.form-input {
	width: 300px;
}

@media (max-width: 1024px) {

	#logo {
		width: 70%;
	}

	.page-content {
		margin-left: 180px;
    	padding-top: 4%;
	}

	.band-members-section {
		text-align: center;
	}

	.band-members__item {
		margin-bottom: 10px;
	}

	/* sekcja about */
	.band-info {
		position: static;
	}

	.about-image {
		display: none;
	}

	/* sekcja concerts */
	.concert {
		flex-basis: 100%;
	}

	/* sekcja video */
	.teledysk {
		width: 433px;
		height: 243px;
	}

	/* sekcja galeria */
	.photo-gallery {
		justify-content: flex-end;
	}

	.photo-gallery__item {
		flex-basis: 50%;
	}

	/* sekcja contact */
	.contact {
		justify-content: center;
	}

	.contact-address {
		flex-basis: 100%;
		text-align: center;
	}

}

@media (max-width: 425px) {


	.page-header {
		position: static;
		margin: 0;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#logo {
		width: 50vw;
		flex-basis: 100%;
	}

	.main-menu__item {
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0px;
		margin-top: 10px;
	}

	.page-footer {
		position: static;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.page-content {
		margin-left: 0px;
    	padding: 0px 5% 0px 5%;
    	margin-top: 20px;
	}

	.content-section {
		align-items: center;
	}

	.band-members__item {
		padding-bottom: 20px;
		text-transform: center;
	}

	.info-section {
	position: relative;
	margin-left: 0px;
	margin-bottom: 0px;
}

	.band-info {
		width: 100%;
	}

	.concert {
		padding-left: 0px;
	}

	.teledysk {
		width: 300px;
		height: 280px;
	}

	.photo-gallery__item {
		flex-basis: 100%;
	}

	.social-media-menu__item {
		display: inline;
	}

	.social-media-menu__list-item {
		display: inline-block;
	}

}